body {
  background-image: url("https://a-static.besthdwallpaper.com/reyna-valorant-riot-video-game-wallpaper-2048x1536-73354_26.jpg");background-attachment: fixed;
  background-size: cover;
}

.bg-black {
  background: #cb4a4a !important;

}
